body{
    max-width: 85%;
    background-color:#FCD34D;
    margin: auto;
}
.header-container{
    text-align: center;
    margin-bottom: 6rem;
    padding-top: 1rem;
    
}
.header-container p{
    font-size: large;
    font-weight: bold;
}
.input{
    display: block;
    margin: auto;
    width: 80%;
    min-height: 20vh;
    box-sizing: border-box;
    border-radius: 1rem;
    padding: 3rem;
    text-align: center;
    font-size: larger;


}
.btn-primary{
    display: block;
    margin: auto;
    margin-top: 2rem ;
    margin-bottom: 2rem;
    padding: 1rem;
    font-weight: bold;
}

.output{
    display: block;
    margin: auto;
    width: 80%;
    min-height: 20vh;
    box-sizing: border-box;
    border-radius: 1rem;
    padding: 3rem;
    text-align: center;
    font-size: larger;
    background-color: white;
}
